<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <!--
    create table dish (
        id          bigint auto_increment comment '主键'
            primary key,
        name        varchar(32) not null comment '菜品名称',
        category_id bigint not null comment '菜品分类id',
        price       decimal(10, 2) null comment '菜品价格',
        image       varchar(255) null comment '图片',
        description varchar(255) null comment '描述信息',
        status      int default 1 null comment '0 停售 1 起售',
        create_time datetime null comment '创建时间',
        update_time datetime null comment '更新时间',
        create_user bigint null comment '创建人',
        update_user bigint null comment '修改人',
        constraint idx_dish_name
            unique (name)
    )
    -->

    <!-- keyProperty 赋值给entity的哪个属性；useGeneratedKeys 使用数据库自动生成的主键值 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dish(name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        VALUES (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <update id="update">
        UPDATE dish
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteDishesByIds">
        DELETE FROM dish
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        SELECT
        d.*,
        c.name as category_name
        FROM dish d
        LEFT OUTER JOIN category c
        ON d.category_id = c.id
        <where>
            <if test="name != null">
                AND d.name LIKE concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                AND d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                AND d.status = #{status}
            </if>
        </where>
        ORDER BY d.create_time DESC
    </select>

    <select id="list" resultType="com.sky.entity.Dish">
        SELECT * FROM dish
        <where>
            <if test="status != null">AND status = #{status}</if>
            <if test="categoryId != null">AND category_id = #{categoryId}</if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
