<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">

    <!--
    create table setmeal (
        id          bigint auto_increment comment '主键'
            primary key,
        category_id bigint not null comment '菜品分类id',
        name        varchar(32) not null comment '套餐名称',
        price       decimal(10, 2) not null comment '套餐价格',
        status      int default 1 null comment '售卖状态 0:停售 1:起售',
        description varchar(255) null comment '描述信息',
        image       varchar(255) null comment '图片',
        create_time datetime null comment '创建时间',
        update_time datetime null comment '更新时间',
        create_user bigint null comment '创建人',
        update_user bigint null comment '修改人',
        constraint idx_setmeal_name
            unique (name)
    )
    -->

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO setmeal (category_id, name, price, status, description, image, create_time, update_time, create_user, update_user)
        VALUES (#{categoryId}, #{name}, #{price}, #{status}, #{description}, #{image}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <delete id="deleteByIds">
        DELETE FROM setmeal WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="com.sky.vo.SetmealVO">
        SELECT s.*, c.name as category_name
        FROM setmeal s
        LEFT OUTER JOIN category c
        ON s.category_id = c.id
        <where>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="name != null">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="onSaleIds" resultType="java.lang.Long">
        SELECT id FROM setmeal WHERE status = 1 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
