<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">

    <!--
    create table setmeal_dish (
        id         bigint auto_increment comment '主键'
            primary key,
        setmeal_id bigint null comment '套餐id',
        dish_id    bigint null comment '菜品id',
        name       varchar(32) null comment '菜品名称 （冗余字段）',
        price      decimal(10, 2) null comment '菜品单价（冗余字段）',
        copies     int null comment '菜品份数'
    )
    -->

    <insert id="insertBatch">
        INSERT INTO setmeal_dish (setmeal_id, dish_id, name, price, copies)
        VALUES
        <foreach collection="setmealDishes" item="sd" separator=",">
            (#{sd.setmealId}, #{sd.dishId}, #{sd.name}, #{sd.price}, #{sd.copies})
        </foreach>
    </insert>

    <select id="selectOnSaleInSetmealDishes" resultType="com.sky.bo.DishSetmealBO">
        SELECT d.id as dish_id, sd.setmeal_id as setmeal_id, d.status as status
        FROM dish d
        LEFT OUTER JOIN setmeal_dish sd ON d.id = sd.dish_id
        WHERE d.id IN
        <foreach collection="dishIds" item="dishId" open="(" separator="," close=")">
            #{dishId}
        </foreach>
        AND (d.status = 1 OR sd.setmeal_id IS NOT NULL)
    </select>
</mapper>
